<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿を編集する</h1>
    <%= form_with(url: "/posts/#{@post.id}/update", local: true) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <textarea name="edit_content"><%= @post.content %></textarea>
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>
  </div>
</div>